annotated-types
anyio
asgiref
boto3
botocore
certifi
colorama
distro
dj-database-url
Django
django-environ
django-storages
djangorestframework
exceptiongroup
gunicorn
httpcore
jmespath
openai
packaging
pillow
psycopg2-binary
pydantic_core
six
