{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natgrove</title>

    <!--Metarial Icon Cdn-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">

    <!--Boxicon icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--======Google Fonts=====-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>


<body>
    
    <div class="home">

        <nav>
            <div class="logo">
                <img src="{% static 'images/lp_images/Natgrove logo.png' %}" alt="logo_pic">
            </div>

            <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <div class="join-now">
                <button>Join now</button>
            </div>


        </nav>


        <div class="text-taddy">
            
            <div class="home-text">
            <h2>Join NatGrove <br>Don't be a fuelish <br>Go <span>green!</span></h2>
            <p>Earning rewards while saving the planet?  Get started now and  turn your eco-friendly actions into fun and points</p>

            <div class="button">
                <a>Save Carbon</a>
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#e8eaed"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg>
            </div>
                
            
            
        </div>

        <div class="taddy-img">
            <img src="{% static 'images/lp_images/Hero Img 1.png' %}" alt="thinking_teddy>.>">
        </div>

         </div>

         <!--====Three cards section start======-->

         <div class="cards">

            <div class="card-1">

                <div class="number-one">
                    1
                </div>

                <div class="card-one-text">
                    <p>Take action </p>
                  <span> 
                  Select the challenges you like
                 </span>

                </div>
            </div>

            <div class="card-2">

                <div class="number-two">
                    2
                </div>

                <div class="card-two-text">
                   <p>Get reward</p> 
                  <span> Recieve reward after completing</span>
                  
                </div>
            </div>
            
            <div class="card-3">

                <div class="number-three">
                    3
                </div>

                <div class="card-three-text">
                    <p>Redeem</p>
                  <span>
                     Redeem the rewards into the brands
                  </span>
                   
                  
                    
                </div>
            </div>

         </div>

        <!--====Three cards section end======-->


        <!--==Leaf And Text section start==-->

         <div class="leaf-and-text">

            <div class="leaf-img">
                <img src="{% static 'images/lp_images/Leaf image.png' %}" alt="leaf">
            </div>

            <div class="leaf-text">
                
                <h4>Transforming sustainability in everyday action</h4>
                <p>
                    Through useful, interesting events, Natgrove enables your team to have a genuine influence in a world where sustainability goals frequently seem far off. With the help of our software, eco-friendly routines may become fulfilling experiences that combine competition and teamwork to create significant change.
                </p>

            </div>

         </div>



        <!--==Leaf And Text section start==-->




        <!--==Eco Challange section start===-->


         <div class="eco-challange">


            <div class="eco-text">
                <h6>
                    Eco Challenges
                </h6>
                
                <h3>Inspire Action, Achieve Goals</h3>

                <p>Natgrove provides a series of interactive challenges aimed at encouraging people to adopt sustainable practices. These challenges promote eco-friendly behaviors through practical tasks and real-world actions.</p>
            </div>

            <div class="eco-img">
                <img src="{% static 'images/lp_images/Illustration Img Laptop.png' %}" alt="teddy">
            </div>

         </div>

         <!--==Eco Challange section end===-->


         <!--==Earn And Redeem section start==-->

         <div class="earn-redeem">


            <div class="earn-img">

                <img src="{% static 'images/lp_images/Sloth Superhero.png' %}" alt="teddy">

            </div>

            <div class="earn-text">

                <h5>Sustainable Rewards</h5>
                <h3>Earn, Redeem, Repeat</h3>
                <p>
                    Our rewards system incentivizes users to engage in sustainable activities by offering points for completed tasks. These points can be redeemed for products and experiences that align with eco-friendly values
                </p>

            </div>

         </div>

          <!--==Earn And Redeem section end==-->


    <!--====Greener Future section start====-->

    <div class="greener-future">


        <div class="greener-text">
            <h6>
                Community Connection
            </h6>
            
            <h3>Unite for a Greener Future</h3>

            <p>The app facilitates connections between users through shared challenges and activities. By building a network of like-minded individuals and organizations, It strengthens the collective effort towards sustainability.  Users can share achievements, exchange tips, and collaborate on initiatives, creating a supportive community focused on positive change.</p>
        </div>

        <div class="greener-img">
            <img src="{% static 'images/lp_images/Sloth Meditating 1.png' %}" alt="teddy">
        </div>

     </div>

     <!--====Greener Future section end===-->

    <!--==All Features section start===-->


     <div class="all-features">

        <div class="features-text">
         <p>Feeling Curious? Click to See All Features or Scroll to Stay in the Loop!</p>
        </div>
        <div class="curly-arrow">
            <img src="{% static 'images/lp_images/Curly-Arrow-PNG 1.png' %}" alt="">
        </div>
        <div class="features-button">
            <a href="">All Features</a>
        </div>


     </div>







    <!--==All Features section end===-->



     <!--===Net-zero section start===-->


     <div class="net-zero">

        <img src="" alt="">

        <div class="net-zero-text">
            <p>
                Our Net Zero concept enables individuals and companies to easily achieve carbon neutrality. We provide the tools and resources you need to make a significant environmental difference, including thorough carbon tracking, customisable action plans, and access to verified carbon offset projects
            </p>
        </div>

      <div class="know-more">
        <a href="">Know more!</a>
      </div>


     </div>


      <!--===Net-zero section end===-->


      <footer>
        <!-- <img src="footer img.png" alt=""> -->
        <div class="logo-social-media">

            <div class="logo-img">
                <img src="{% static 'images/lp_images/Natgrove logo.png' %}" alt="">
                
            </div>


             <div class="social-media">

                <a href=""><i class='bx bxl-facebook'></i></a>

                <a href=""><i class='bx bxl-twitter' ></i></a>

                <a href=""> <i class='bx bxl-instagram' ></i></a>

                <a href=""><i class='bx bxl-linkedin' ></i></a>

            </div>
        </div>

        <div class="quick-links">
            <h3>Quick links</h3>
            <ul>
                <li>How it works</li>
                <li>How it works</li>
                <li>How it works</li>
                <li>How it works</li>
            </ul>
        </div>

        <div class="legal-stuff">
            <h3>Quick links</h3>
            <ul>
                <li>How it works</li>
                <li>How it works</li>
                <li>How it works</li>
                <li>How it works</li>
            </ul>
        </div>

        <div class="keep-update">
            <h3>Keep up-to-date!</h3>

            <div class="subscribe">
                <a href="#">Subscribe</a>
            </div>

        </div>

      </footer>



</body>
</html>